@tailwind base;
@tailwind components;
@tailwind utilities;

/* all satoshi fonts (regular, bold, black) */
@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

* > * {
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #030e17;
  color: #fff;
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979797;
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #de345e;
}
